extends layout

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        // Dynamically add the project title
        h1= project.project_name

        // Dynamically add the project description
        p= project.description

      .project-tech-links-box.box
        // Dynamically replace the li tags below with the technologies listed for this project
        h6 Technologies
        ul
          each technology in project.technologies
            li= technology

        //- Add the href values to Repo and live project
        a.btn-link(href=`${project.live_link}`, target="_blank") Live Demo
        a.btn-link(href=`${project.github_link}`, target="_blank") GitHub Repo

    .project-img-box.box

      // Dynamically add project images, and add descriptions to the alt attributes
      - let n= 1;
        while n < project.image_urls.length
          img.project-img(src=`${project.image_urls[n++]}`, alt=`Picture visualising project`)

  nav.nav
      a(href='/')
        span &larr;
        |  Back
